@using Library.Models
@model IndexViewModel
<body class="loading">

@*     <div class="wrapper">
        <div class="content"> *@
            @* <div class="container-fluid"> *@

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Здесь живут книги</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Add book -->
                                <div class="row mb-2">
                                    <div class="col-sm-5">
                                        <a asp-controller="Book" asp-action="AddBook" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i>Добавить книгу</a>
                                    </div>
                                </div>
                                <!-- Book Table -->
                                <div class="table-responsive">
                                    <!--Display + Search-->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="dataTables_length" id="products-datatable_length">
                                                <label class="form-label">
                                                    Показать
                                                    <select class="form-select form-select-sm ms-1 me-1">
                                                        <option value="5">5</option>
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="-1">All</option>
                                                    </select>
                                                    книг
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="dataTables_filter">

                                                <form method="get">

                                                    <label>Book <input name="name" class="form-control form-control-sm" value="@Model.FilterViewModel.SelectedName" /></label>

                                                    <label>Author <select name="author" asp-items="@Model.FilterViewModel.Authors"></select></label>
                                                    <input type="submit" value="Filter" />
                                                </form>

                                                <label>Search:<input type="search" class="form-control form-control-sm" placeholder=""></label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Table-->
                                    <div class="row">
                                        <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                                            <thead class="table-light">
                                                <tr>

                                                    <th>
                                                        <a asp-action="ShowAllBooks"
                                                           asp-route-sortOrder="@Model.SortViewModel.NameSort"
                                                           asp-route-name="@Model.FilterViewModel.SelectedName"
                                                           asp-route-author="@Model.FilterViewModel.SelectedAuthor">Название</a>
                                                    </th>
                                                    <th>
                                                        <a asp-action="ShowAllBooks"
                                                           asp-route-sortOrder="@Model.SortViewModel.AuthorSort"
                                                           asp-route-name="@Model.FilterViewModel.SelectedName"
                                                           asp-route-author="@Model.FilterViewModel.SelectedAuthor">Автор</a>
                                                    </th>
                                                    <th>
                                                        <a asp-action="ShowAllBooks"
                                                           asp-route-sortOrder="@Model.SortViewModel.PublicationSort"
                                                           asp-route-name="@Model.FilterViewModel.SelectedName"
                                                           asp-route-author="@Model.FilterViewModel.SelectedAuthor">Publication</a>
                                                    </th>
                                                    <th>Status</th>
                                                    <th style="width: 85px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (Book book in Model.Books)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img src=@book.CoverPath alt="contact-img" title="contact-img" class="rounded me-3" height="110" />
                                                            <p class="m-0 d-inline-block align-middle font-16">
                                                                <a asp-action="ShowBook" asp-controller="Book" asp-route-bookid="@book.Id" asp-route-includeReader="true" class="text-body">@book.Name</a>
                                                            </p>
                                                        </td>
                                                        <td>@book.Author?.Name</td>
                                                        <td>@book.Publication</td>
                                                        <td>
                                                            @if (book.IsPicked)
                                                            {
                                                                <span class="badge bg-danger">На руках</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge bg-success">В библиотеке</span>
                                                            }
                                                        </td>

                                                        <td class="table-action">
                                                            <a asp-controller="Book" asp-action="DeleteBook" asp-route-id=@book.Id class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                            @*                                             <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a> *@
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--Pagging-->
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="products-datatable_info" role="status" aria-live="polite">Showing products 1 to 5 of 12</div>
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers" id="products-datatable_paginate">
                                                <ul class="pagination pagination-rounded">
                                                    <li class="paginate_button page-item previous disabled"><a href="#" aria-controls="products-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                                    @if (Model.PageViewModel.HasPreviousPage)
                                                    {
                                                        <a asp-action="ShowAllBooks"
                                                           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                                                           asp-route-name="@Model.FilterViewModel.SelectedName"
                                                           asp-route-company="@Model.FilterViewModel.SelectedAuthor"
                                                           asp-route-sordOrder="@Model.SortViewModel.Current">Back</a>
                                                    }
                                                    @*                                     <li class="paginate_button page-item active"><a href="#" aria-controls="products-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                                    <li class="paginate_button page-item "><a href="#" aria-controls="products-datatable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                                    <li class="paginate_button page-item "><a href="#" aria-controls="products-datatable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li> *@
                                                    @if (Model.PageViewModel.HasNextPage)
                                                    {
                                                        <a asp-action="ShowAllBooks"
                                                           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                                                           asp-route-name="@Model.FilterViewModel.SelectedName"
                                                           asp-route-company="@Model.FilterViewModel.SelectedAuthor"
                                                           asp-route-sordOrder="@Model.SortViewModel.Current">Next</a>
                                                    }
                                                    <li class="paginate_button page-item next"><a href="#" aria-controls="products-datatable" data-dt-idx="4" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- end card-body-->
                        </div>
                        <!-- end card-->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            @* </div> *@
@*         </div>
    </div> *@
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

    <!-- third party js -->
@*     <script src="/html/saas/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/html/saas/assets/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="/html/saas/assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="/html/saas/assets/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="/html/saas/assets/js/vendor/dataTables.checkboxes.min.js"></script> *@

    <!-- third party js ends -->
    <!-- demo app -->
@*     <script src="/html/saas/assets/js/pages/demo.products.js"></script> *@
    <!-- end demo js-->
</body>
